@model User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-action="Register">

    <table class="table table-bordered">

       
        <tr>
            <td> <label asp-for="Name"></label></td>
            <td> <input asp-for="Name" class="form-control" /></td>
         
        </tr>

        <tr>
            <td> <label asp-for="Email"></label></td>
            <td> <input asp-for="Email" class="form-control" /></td>

        </tr>

        <tr>
            <td> <label asp-for="Password"></label></td>
            <td> <input asp-for="Password" class="form-control" /></td>

        </tr>
        <tr>
            <td> <label asp-for="RoleId"></label></td>
            <td> <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control"></select> </td>

        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </td>



        </tr>

    </table>
</form>